In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
# Load your dataset
df = pd.read_csv('C:\\Users\\Admin\\Downloads\\electric_mopeds\\electric_bike_ratings_2212.csv')
df.head()

,owned,make_model,review_month,web_browser,reviewer_age,primary_use,value_for_money,overall_rating
0,1,Nielah-Eyden,Oct,Chrome,23,Commuting,5/10,18.62
1,0,Nielah-Keetra,Jun,NaN,24,Commuting,4/10,15.55
2,0,Lunna-Keetra,23-Oct,Chrome,28,Commuting,5/10,12.76
3,1,Hoang-Keetra,07-Nov,IE,41,Leisure,5/10,17.07
4,1,Lunna-Keetra,16-Sep,Chrome,33,Leisure,5/10,12.29

In [3]:
import re
# Preprocess 'review_month' column
df['review_month'] = df['review_month'].apply(lambda x: re.findall(r'\b\w{3}\b', x)[0] 
if re.findall(r'\b\w{3}\b', x) else x)

In [4]:
# Create a label (category) encoder object
le = LabelEncoder()

# Fit and transform the columns
for column in df.columns:
    if df[column].dtype == type(object):
        df[column] = le.fit_transform(df[column])
        print(f'{column} mapping: {dict(zip(le.classes_, le.transform(le.classes_)))}')

# Now df has all numeric columns

make_model mapping: {'Hoang-Eyden': 0, 'Hoang-Keetra': 1, 'Lunna-Eyden': 2, 'Lunna-Keetra': 3, 'Nielah-Eyden': 4, 'Nielah-Keetra': 5}
review_month mapping: {'Apr': 0, 'Aug': 1, 'Dec': 2, 'Feb': 3, 'Jan': 4, 'Jul': 5, 'Jun': 6, 'Mar': 7, 'May': 8, 'Nov': 9, 'Oct': 10, 'Sep': 11}
web_browser mapping: {'Android': 0, 'Chrome': 1, 'Firefox': 2, 'IE': 3, 'Opera': 4, 'Safari': 5, nan: 6}
reviewer_age mapping: {'-': 0, '16': 1, '17': 2, '18': 3, '19': 4, '20': 5, '21': 6, '22': 7, '23': 8, '24': 9, '25': 10, '26': 11, '27': 12, '28': 13, '29': 14, '30': 15, '31': 16, '32': 17, '33': 18, '34': 19, '35': 20, '36': 21, '37': 22, '38': 23, '39': 24, '40': 25, '41': 26, '42': 27, '43': 28, '44': 29, '45': 30, '46': 31, '47': 32, '48': 33, '49': 34, '50': 35}
primary_use mapping: {'Commuting': 0, 'Leisure': 1}
value_for_money mapping: {'1/10': 0, '10/10': 1, '2/10': 2, '3/10': 3, '4/10': 4, '5/10': 5, '6/10': 6, '7/10': 7, '8/10': 8, '9/10': 9}

In [5]:

# Export the DataFrame to a csv file
df.to_csv('converted_to_numerical_data.csv', index=False)